@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  outline: solid 1px green;

  --red-color: #FF6060;
}

main{
  max-width: 1240px;
  margin: 0 auto;
  padding: 50px 0;
}

/******************************HEADER*****/
header{
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35PX 0;
}
nav .logo{
  width: 210px;
}
nav ul{
  list-style: none;
  width: 100%;
  text-align: right;
}
nav ul li{
  display: inline-block;
  padding: 0 4%;
  font-size: 24px;
  font-weight: 500;
}

nav ul li a{
  text-decoration: none;
  color: black;
}
.nav-link.active{
  border-bottom: 1.5px solid black;
}
/*****************************************/


/******************************FOOTER*****/
footer{
  margin: 0 auto;
  padding: 0 40px;
  background: black;
}
footer .footer-content{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-content .logo-footer{
  width: 120px;
  padding: 25px 0;
}
footer .footer-content p{
  color: white;
  font-size: 24px;
}


/*****************************************/




/******************************ACCUEIL SECTION 1*****/
.accueil_section1{
  width: 100%;
  height: 220px;
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.accueil_section1 .banniere{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;

}
.accueil_section1 p{
  font-size: 48px;
  font-weight: 700;
  color: white;
}
/*****************************************/


/******************************A PROPOS SECTION 1*****/
.apropos_section1{
  width: 100%;
  height: 220px;
  position: relative;
  padding: 20px 0;
}
.apropos_section1 .banniere_2{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
}
/*****************************************/