@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('components/card/Card.css');
@import url('components/collapse/Collapse.css');
@import url('components/footer/Footer.css');
@import url('components/header/Header.css');
@import url('pages/aboutus/AboutUs.css');
@import url('pages/home/Home.css');
@import url('components/card/Card.css');
@import url('components/cardsdisplay/CardsDisplay.css');
/* @import url('pages/pageerror/PageError.css'); */



*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  /* outline: solid 1px green; */

  --red-color: #FF6060;
}

main{
  max-width: 1220px;
  margin: 0 auto;
  padding: 30px 0;
}