.landlord-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25PX;
}

.landlord-info p{
    width: 50%;
    text-align: right;
    font-size: 18PX;
    font-weight: 500;
    color: #FF6060;
}

.landlord-info img{
    border-radius: 50%;
    width: 80PX;
}

@media only screen and (max-width: 767px){

    .landlord-info{
        padding-bottom: 0;
    }

    .landlord-info img{
        width: 32PX;
    }

    .landlord-info p{
        font-size: 12PX;
        width: 75PX;
        padding-right: 10PX;
    }
}